{
    "smscloudHost":     "127.0.0.1",
    "smscloudPath":     "/jsonrpc?key=",
    "chdir":            "/home/shorty/smscloud-shorty",
    "outFile":          "/tmp/shorty-new/receiver.log",
    "pidFile":          "/tmp/shorty-new/receiver.pid",
    "max_http_requests": 250,
    "client":  {
        "smpp": {
            "mode":         "receiver",
            "host":         "",
            "port":         2775,
            "system_id":    "",
            "password":     "",
            "system_type":  "SHORTY",
            "addr_ton":     0,
            "addr_npi":     1,
            "addr_range":   "",
            "timeout":      10,
            "strict":       1,
            "client_keepalive": true,
            "client_reconnect_interval": 2500
        },
        "debug":    false
    }
}
